<div class="titleDec">Todo App</div>
<div class="card">
  <div class="inputDec">
    <input type="text"  #val>
    <button (click)="addNew(val.value); val.value=''">add</button> 
  </div>


<div class="textDecor">
<div class="inputDecor" *ngFor="let item of myToDoList;let i = index"> 
    <span [ngClass]="
    {
    'done' : item.isCompleted == true,
    'not_done':item.isCompleted == false
  
    }">

      {{item.text}}
</span>

  <button class="completedDec" (click)="done(i)"> Complete </button>


  <button class="removeDec" (click)="remove(i)"> Remove </button>
</div>
</div>
</div>